spring-soap-with-feign/spring-circuit-breaker/src/main/resources/wsdl/country.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:sch="http://jeretth.santos/poc/soap"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://jeretth.santos/poc/soap" targetNamespace="http://jeretth.santos/poc/soap">
    <wsdl:types>
        <xs:schema
                xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://jeretth.santos/poc/soap">
            <xs:element name="GetCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="delay" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCountryFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="statusCode" type="xs:string"/>
                        <xs:element name="validationMessage" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="population" type="xs:int"/>
                    <xs:element name="capital" type="xs:string"/>
                    <xs:element name="currency" type="tns:currency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="GBP"/>
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="PLN"/>
                    <xs:enumeration value="PHP"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetCountryResponse">
        <wsdl:part element="tns:GetCountryResponse" name="GetCountryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCountryRequest">
        <wsdl:part element="tns:GetCountryRequest" name="GetCountryRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetCountryFault">
        <wsdl:part element="tns:GetCountryFault" name="GetCountryFault"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="GetCountry">
            <wsdl:input message="tns:GetCountryRequest" name="GetCountryRequest"></wsdl:input>
            <wsdl:output message="tns:GetCountryResponse" name="GetCountryResponse"></wsdl:output>
            <wsdl:fault message="tns:GetCountryFault" name="GetCountryFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GetCountryFault">
                <soap:fault name="GetCountryFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:9000/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>